.gridAndMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.headline {
    text-align: center;
}

.leftOfGrid {
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: center;
}

.grid {
    display: flex;
    border: solid 3px;
    padding: 1px;
    justify-content: center;
    width: 500px;
    height: 500px;
};

/* .row {
    width: 512px;
    height: 512px;
    flex: 1;
};

.cell {
    flex: auto;
    border: solid black 1px;

}; */

